<div class="page-header">
    <h1>Login</h1>
    <h2>Access your account</h2>
</div>
<div class="messagebox" ng-show="message.info"
     ng-class="{true: 'success',false: 'error'}[message.success]">
    <div class="message-content">
        <span class="notification">{{message.notification}}</span>
        <span>{{message.info}}</span>
        <span class="errorinfo" ng-click="GoTo(message.errorElement)">{{message.errorInfo}}</span>
        <span class="close-button" ng-click="CloseMessage()">close</span>
    </div>
</div>
<div class="section">
    <div class="row">
        <div class="col-8">
            <div class="inner-section">
                <form>
                    <div class="label" ng-class="{'error': userLogin.usernameInvalid}">Username</div>
                    <div class="input">
                        <input type="text" id="username" class="textbox" placeholder="Username" ng-model="userLogin.username" 
                               maxlength="100" ng-class="{'error': userLogin.usernameInvalid}"/>
                        <div class="error-message" ng-show="userLogin.usernameInvalid">
                            Please enter this informarion
                        </div>
                    </div>

                    <div class="label" ng-class="{'error': userLogin.passwordInvalid}">Password</div>
                    <div class="input last">
                        <input type="password" id="password" class="textbox" placeholder="Password" ng-model="userLogin.password" 
                               maxlength="25" ng-class="{'error': userLogin.usernameInvalid}"/>
                        <div class="error-message" ng-show="userLogin.passwordInvalid">
                            Please enter this informarion
                        </div>
                    </div>
                    <div class="popup-link">Forgot password?</div>

                    <div class="info-message">{{loginMessage}}</div>

                    <div class="button">
                        <input type="submit" value="Login" class="dark-button right" ng-click="Login()" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="alt-section">
                <div class="inner-heading">Not a member?</div>
                <div class="button">
                    <input type="button" value="Register today" />
                </div>
            </div>
        </div>
    </div>
</div>