<h1>Register</h1>
<h2>Create an account and get started today.</h2>
<div class="section">
    <div class="row">
        <div class="col-8">
            <div class="inner-section">
                <form>
                    <div class="label">Forename*</div>
                    <div class="input">
                        <input type="text" class="textbox" placeholder="Forename" />
                    </div>
                    <div class="label">Surname*</div>
                    <div class="input">
                        <input type="text" class="textbox" placeholder="Surname" />
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="label">Sex*</div>
                            <div class="input">
                                <select>
                                    <option>Please Select</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="label">Date of birth</div>
                            <div class="input">
                                <input type="date" class="textbox" placeholder="Select dates" />
                            </div>
                        </div>
                    </div>
                    <div class="label">Email Address*</div>
                    <div class="input">
                        <input type="text" class="textbox" placeholder="Email address" />
                    </div>
                    <div class="label">Verify Email Address*</div>
                    <div class="input">
                        <input type="text" class="textbox" placeholder="Verify email address" />
                    </div>
                    <div class="label">Password*</div>
                    <div class="input">
                        <div class="row">
                            <div class="col-9">
                                <input type="password" class="textbox" placeholder="password"/>
                            </div>
                            <div class="col-3">
                                <input type="checkbox" id="showPassword" />
                                <label for="showPassword">Show</label>
                            </div>
                            <div class="col-12">
                                <span>Use between 7 - 25 characters. At least one uppercase character. At least one number.</span>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4">
            <div class="alt-section">
                <div class="inner-heading">Already a member?</div>
                <div class="button">
                    <input type="button" value="Login" />
                </div>
            </div>
        </div>
    </div>
</div>