<div class="page-header">
    <h1>Register</h1>
    <h2>Create an account and get started today.</h2>
</div>
<info-message message="message"></info-message>
<div class="section">
    <div class="row">
        <div class="col-8">
            <div class="inner-section">
                <form name="form" novalidate>
                    <div class="label" ng-class="{'error': (form.$submitted || form.forename.$touched) && form.forename.$invalid}">Forename*</div>
                    <div class="input">
                        <input id="forename" name="forename" type="text" class="textbox" placeholder="Forename"
                               ng-model="user.forename" required
                               maxlength="100" ng-class="{'error': (form.$submitted || form.forename.$touched) && form.forename.$invalid}" />
                        <div class="error-message" ng-show="(form.$submitted || form.forename.$touched) && form.forename.$error.required">
                            Please enter this informarion
                        </div>
                    </div>

                    <div class="label" ng-class="{'error': (form.$submitted || form.surname.$touched) && form.surname.$invalid}">Surname*</div>
                    <div class="input">
                        <input id="surname" name="surname" type="text" class="textbox" placeholder="Surname"
                               ng-model="user.surname" maxlength="100" required
                               ng-class="{'error': (form.$submitted || form.surname.$touched) && form.surname.$invalid}" />
                        <div class="error-message" ng-show="(form.$submitted || form.surname.$touched) && form.surname.$error.required">
                            Please enter this informarion
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 pad-right">
                            <div class="label" ng-class="{'error': (form.$submitted || form.sex.$touched) && form.sex.$error.select}">Sex*</div>
                            <div class="input">
                                <dropdown selection="user.sex" ng-model="user.sex" name="sex"
                                           ng-class="{'error': (form.$submitted || form.sex.$touched) && form.sex.$error.select}"></dropdown>
                                <div class="error-message" ng-show="(form.$submitted || form.sex.$touched) && form.sex.$error.select">
                                    Please select an option
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="label" ng-class="{'error': (form.$submitted || form.dob.$touched) && form.dob.$invalid}">Date of birth</div>
                            <div class="input">
                                <style>

                                </style>
                                <div class="calender-box">
                                    <div class="icon-container">
                                        <div class="icon-box" ng-class="{'error': (form.$submitted || form.dob.$touched) && form.dob.$invalid}">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                    <div class="textbox-container">
                                        <input id="dob" name="dob" type="date" class="textbox" placeholder="Select date"
                                               ng-model="user.dob" required
                                               ng-class="{'error': (form.$submitted || form.dob.$touched) && form.dob.$invalid}"
                                               jqdatepicker />
                                    </div>
                                </div>


                                <div class="error-message" ng-show="(form.$submitted || form.dob.$touched) && form.dob.$error.required">
                                    Please enter this informarion
                                </div>
                                <div class="error-message" ng-show="(form.$submitted || form.dob.$touched) && form.dob.$error.date">
                                    Please enter valid date
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="label" ng-class="{'error': (form.$submitted || form.email.$touched) && form.email.$invalid}">Email Address*</div>
                    <div class="input">
                        <input id="email" type="email" name="email" class="textbox" placeholder="Email address" ng-model="user.email"
                               maxlength="100" required
                               ng-class="{'error': (form.$submitted || form.email.$touched) && form.email.$invalid}" />
                        <div class="error-message" ng-show="(form.$submitted || form.email.$touched) && form.email.$error.required">
                            Please enter this informarion
                        </div>
                        <div class="error-message" ng-show="(form.$submitted || form.email.$touched) && form.email.$error.email">
                            Please enter valid email address
                        </div>
                    </div>

                    <div class="label" ng-class="{'error': (form.$submitted || form.verifyEmail.$touched) && form.verifyEmail.$invalid}">Verify Email Address*</div>
                    <div class="input">
                        <input id="verify-email" type="email" name="verifyEmail" class="textbox" placeholder="Verify email address" ng-model="user.verifyEmail"
                               maxlength="100" required
                               ng-class="{'error': (form.$submitted || form.verifyEmail.$touched) && form.verifyEmail.$invalid}" />
                        <div class="error-message" ng-show="(form.$submitted || form.verifyEmail.$touched) && form.verifyEmail.$error.required">
                            Please enter this informarion
                        </div>
                        <div class="error-message" ng-show="(form.$submitted || form.verifyEmail.$touched) && form.verifyEmail.$error.email">
                            Please enter valid email address
                        </div>
                    </div>

                    <div class="label" ng-class="{'error': (form.$submitted || form.password.$touched) && form.password.$invalid}">Password*</div>
                    <div class="input">
                        <div class="row">
                            <div class="col-9">
                                <input id="password" name="password" type="{{passwordType}}" class="textbox joint-left" placeholder="password"
                                       ng-model="user.password" maxlength="25" required
                                       ng-class="{'error': (form.$submitted || form.password.$touched) && form.password.$invalid}"
                                       password />
                                <div class="error-message" ng-show="(form.$submitted || form.password.$touched) && form.password.$error.required">
                                    Please enter this informarion
                                </div>
                                <div class="error-message" ng-show="(form.$submitted || form.password.$touched) && form.password.$error.password">
                                    Should have at least one uppercase character and at least one number
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="joint-right extra"
                                     ng-class="{'error': (form.$submitted || form.password.$touched) && form.password.$invalid}">
                                    <div class="input">
                                        <input type="checkbox" id="showPassword" ng-click="ShowPassword($event)"/>
                                        <label for="showPassword">Show</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <span class="input-info">Use between 7 - 25 characters. At least one uppercase character. At least one number.</span>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Register" class="dark-button right" ng-click="Register()" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4 register center-section">
            <div class="center">
                <div class="inner-heading">Already a member?</div>
                <div class="button">
                    <input type="button" value="Login" ng-click="GotoLogin()" />
                </div>
            </div>
        </div>
    </div>
</div>